In [4]:
import pandas as pd
df = pd.read_csv('world_data.csv')
df

,country,happiness,income,lifeexp,sanitation,water,urbanpopulation,unemployment,literacy,inequality,murder,energy,childmortality,fertility,hiv,foodsupply,population
0,Afghanistan,3.982855,1750.0,57.9,39.2,63.0,11.0,NaN,39.0,NaN,NaN,NaN,73.2,4.80,5800.0,2090.0,33700000
1,Albania,4.606651,11000.0,77.6,97.7,91.4,NaN,6.090,96.8,29.0,2.30,808.0,14.0,1.71,NaN,3190.0,2920000
2,Argentina,6.697131,19100.0,76.5,94.8,99.6,43.1,0.856,97.9,41.4,4.65,2020.0,11.6,2.31,95000.0,3230.0,43400000
3,Armenia,4.348320,8180.0,75.4,91.6,98.9,36.7,7.110,99.6,32.4,1.12,1020.0,14.0,1.66,3600.0,2930.0,2920000
4,Australia,7.309061,43800.0,82.6,100.0,100.0,60.2,1.240,NaN,34.7,1.11,5480.0,3.8,1.86,22000.0,3280.0,23800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Tonga,NaN,5190.0,70.3,93.5,99.9,NaN,NaN,99.0,37.5,NaN,567.0,16.8,3.68,NaN,NaN,106000
190,Trinidad and Tobago,NaN,31300.0,73.1,92.1,96.9,NaN,NaN,98.8,40.3,12.10,14400.0,19.1,1.77,13000.0,3050.0,1360000
191,Tuvalu,NaN,3320.0,NaN,91.4,99.3,NaN,NaN,NaN,39.1,NaN,NaN,26.2,NaN,NaN,NaN,11000
192,Vanuatu,NaN,2810.0,63.6,53.5,90.5,NaN,0.978,83.2,37.6,NaN,159.0,28.2,3.31,NaN,2840.0,265000
193,Liechtenstein,NaN,NaN,NaN,100.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37400

In [5]:
df.columns

Index(['country', 'happiness', 'income', 'lifeexp', 'sanitation', 'water',
       'urbanpopulation', 'unemployment', 'literacy', 'inequality', 'murder',
       'energy', 'childmortality', 'fertility', 'hiv', 'foodsupply',
       'population'],
      dtype='object')

In [8]:
#columns --> Pandas series
country_name = pd.Series(df['country'])
total_population = pd.Series(df['population'])
average_annual_income = pd.Series(df['income'])
life_expectancy_in_years = pd.Series(df['lifeexp'])
literacy_rate = pd.Series(df['literacy'])

In [9]:
country_name.head()

0    Afghanistan
1        Albania
2      Argentina
3        Armenia
4      Australia
Name: country, dtype: object

In [11]:
country_name.dtypes

dtype('O')

In [12]:
country_name.size

194

In [13]:
total_population.dtypes

dtype('int64')

In [17]:
total_population.head(1)

0    33700000
Name: population, dtype: int64

In [18]:
total_population.tail(1)

193    37400
Name: population, dtype: int64

In [23]:
df.loc[3].at["population"]

2920000

In [27]:
df["population"].mean()

37871950.51546392